<p-confirmDialog/>
<p-toast/>

<!-- Opciones de consulta -->
<div class="mb-8">
    <app-opciones-consulta
        (periodoSeleccionado)="onPeriodSelected($event)"
        (rangoFechasSeleccionado)="onDateRangeSelected($event)"
        (consultar)="filterDoctors()"
    />
</div>

<!-- Tabla de doctores -->
<div class="card">
    <div class="flex flex-wrap sm:flex-row justify-between gap-4 mx-4">
        <div class="font-semibold text-xl">{{ 'titles.doctors' | translate }}</div>
        <!-- Contenedor para los botones alineados a la derecha -->
        <div class="flex gap-4">
            <p-button
                label="{{ 'buttons.new' | translate: { item: labelDoctor } }}"
                (onClick)="openModal()"
                icon="pi pi-plus"
            ></p-button>

            <p-button
                label="{{ 'buttons.delete' | translate: { items: labelDoctors } }}"
                severity="danger"
                [disabled]="selectedDoctors.length === 0"
                (onClick)="deleteDoctorsConfirmation()"
                icon="pi pi-trash">
            </p-button>
        </div>
    </div>

    <p-table
        #dt1
        dataKey="doctorId"
        [rows]="50"
        [loading]="isLoading"
        [rowHover]="true"
        [paginator]="true"
        [globalFilterFields]="[
            'doctorId',
            'firstName',
            'lastFathName',
            'lastMontName',
            'email',
            'birthDate',
            'age',
            'gender',
            'postalCode',
            'address',
            'clinic',
            'state']"
        [value]="filteredDoctors"
        responsiveLayout="scroll"
        selectionMode="multiple"
        [scrollable]="true"
        scrollHeight="40rem"
        [(selection)]="selectedDoctors">

        <ng-template pTemplate="caption" class="m-0 p-0">
            <div class="flex justify-between flex-col sm:flex-row items-center gap-4 w-full">
                <!-- Contenedor de botones alineados a la izquierda -->
                <div class="flex flex-col-375 sm:flex-row gap-2">
                    <p-button
                        label="{{ 'buttons.exportExcelTable' | translate }}"
                        icon="pi pi-file-excel"
                        severity="success"
                        outlined="true"
                        (keydown)="onKeyDown($event)"
                        (keyup)="onKeyUp($event)"
                    ></p-button>

                    <p-button
                        label="{{ 'buttons.downloadPDFTable' | translate }}"
                        severity="danger"
                        outlined="true"
                        icon="pi pi-file-pdf"
                    ></p-button>
                </div>

                <!-- Input de búsqueda alineado a la derecha -->
                <div class=" flex justify-end items-end relative w-full sm:w-64 lg:w-96">
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input
                            #filter
                            pInputText
                            class="sm:w-64 lg:w-96"
                            type="text"
                            (input)="onGlobalFilter(dt1, $event)"
                            placeholder="{{ 'placeholders.search' | translate }}"
                        />
                        <p-inputicon
                            (click)="clear(dt1)"
                            styleClass="pi pi-times"
                            (keydown)="onKeyDown($event)"
                            (keyup)="onKeyUp($event)"
                        />
                    </p-iconfield>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <!-- Columna de checkbox -->
                <th id="check" style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th id="key" pSortableColumn="doctorId" style="min-width: 6rem">
                    {{ 'labels.key' | translate }}
                    <p-sortIcon field="key"></p-sortIcon>
                </th>
                <th id="name" pSortableColumn="firstName" style="min-width: 10rem">
                    {{ 'labels.name' | translate }}
                    <p-sortIcon field="firstName"></p-sortIcon>
                </th>
                <th id="lastname" pSortableColumn="lastFathName" style="min-width: 12rem">
                    {{ 'labels.lastname' | translate }}
                    <p-sortIcon field="lastName"></p-sortIcon>
                </th>
                <th id="clinic" pSortableColumn="clinic" style="min-width: 10rem">
                    {{ 'labels.clinic' | translate }}
                    <p-sortIcon field="clinic"></p-sortIcon>
                </th>
                <th id="birthDate" pSortableColumn="birthDate" style="min-width: 10rem">
                    {{ 'labels.birthDate' | translate }}
                    <p-sortIcon field="birthDate"></p-sortIcon>
                </th>
                <th id="gender" pSortableColumn="gender" style="min-width: 8rem">
                    {{ 'labels.gender' | translate }}
                    <p-sortIcon field="gender"></p-sortIcon>
                </th>
                <th id="postalCode" pSortableColumn="postalCode" style="min-width: 6rem">
                    {{ 'labels.postalCode' | translate }}
                    <p-sortIcon field="postalCode"></p-sortIcon>
                </th>
                <th id="address" pSortableColumn="address" style="min-width: 18rem">
                    {{ 'labels.address' | translate }}
                    <p-sortIcon field="address"></p-sortIcon>
                </th>
                <th id="state" pSortableColumn="state" style="min-width: 8rem">
                    {{ 'labels.state' | translate }}
                    <p-sortIcon field="state"></p-sortIcon>
                </th>
                <th scope="col" style="min-width: 12rem">{{ 'labels.actions' | translate }}</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-doctor>
            <tr [pSelectableRow]="doctor">
                <!-- Checkbox para cada fila -->
                <td>
                    <p-tableCheckbox [value]="doctor"></p-tableCheckbox>
                </td>
                <td>{{ doctor.doctorId }}</td>
                <td>{{ doctor.firstName }}</td>
                <td>{{ doctor.lastFathName }} {{ doctor.lastMontName }} </td>
                <td>{{ doctor.clinic }}</td>
                <td>{{ doctor.birthDate | date:'dd/MM/yyyy' }}</td>
                <td>{{ doctor.gender }}</td>
                <td>{{ doctor.postalCode }}</td>
                <td>{{ doctor.address }}</td>
                <td>{{ doctor.state }}</td>
                <td>
                    <p-button
                        icon="pi pi-pencil"
                        class="mx-1"
                        severity="info"
                        [rounded]="true"
                        [outlined]="true"
                        (click)="editDoctor(doctor)"
                        (keydown)="onKeyDown($event)"
                        (keyup)="onKeyUp($event)"
                    />
                    <p-button
                        icon="pi pi-trash"
                        class="mx-1"
                        severity="danger"
                        [rounded]="true"
                        [outlined]="true"
                        (click)="deleteDoctorConfirmation(doctor)"
                        (keydown)="onKeyDown($event)"
                        (keyup)="onKeyUp($event)"
                    />
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="11">{{ 'messages.noDataFound' | translate: {items: "doctores"} }}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="11">{{ 'messages.loadingData' | translate }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
    header="{{ 'doctor.titleModal' | translate }}"
    class="font-bold"
    [modal]="true"
    [(visible)]="isVisible"
    [style]="{ width: '70rem', 'min-width': '30rem', 'max-width': '70rem', 'overflow-x': 'hidden', 'padding': '0.5rem' }"
    [draggable]="false"
    [resizable]="false"
    [contentStyle]="{ 'overflow': 'visible' }"
    (onHide)="closeModal()"
>
    <div class="flex flex-wrap gap-6 mb-4">
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="nombre">{{ 'labels.name' | translate }}</label>
            <input
                pInputText
                id="nombre"
                [(ngModel)]="firstName"
                (ngModelChange)="onFirstNameChange()"
                [ngClass]="{
                    'ng-dirty': firstNameError,
                    'ng-invalid': firstNameError
                }"
                type="text" placeholder="{{ 'placeholders.name' | translate }}"
                maxlength="100"
            />
            <small
                *ngIf="firstNameError"
                class="text-red-500"
            >{{ firstNameError }}</small>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="paterno">{{ 'labels.fatherLastName' | translate }}</label>
            <input
                pInputText
                id="paterno"
                [(ngModel)]="lastFatherName"
                (ngModelChange)="onLastFatherNameChange()"
                [ngClass]="{
                    'ng-dirty': lastFatherNameError,
                    'ng-invalid': lastFatherNameError
                }"
                type="text" placeholder="{{ 'placeholders.fatherLastName' | translate }}"
                maxlength="100"
            />
            <small
                *ngIf="lastFatherNameError"
                class="text-red-500"
            >{{ lastFatherNameError }}</small>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="materno">{{ 'labels.motherLastName' | translate }}</label>
            <input
                pInputText
                id="materno"
                [(ngModel)]="lastMotherName"
                (ngModelChange)="onLastMotherNameChange()"
                [ngClass]="{
                    'ng-dirty': lastMotherNameError,
                    'ng-invalid': lastMotherNameError
                }"
                type="text" placeholder="{{ 'placeholders.motherLastName' | translate }}"
                maxlength="100"
            />
            <small
                *ngIf="lastMotherNameError"
                class="text-red-500"
            >{{ lastMotherNameError }}</small>
        </div>
    </div>
    <div class="flex flex-wrap gap-6 mb-4">
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="clinicModal">{{ 'labels.clinic' | translate }}</label>
            <p-select
                id="clinicModal"
                [options]="clinics"
                optionLabel="name"
                [(ngModel)]="clinicSelected"
                (ngModelChange)="onClinicChange()"
                [ngClass]="{
                    'ng-dirty': clinicError,
                    'ng-invalid': clinicError
                }"
                placeholder="{{ 'placeholders.clinic' | translate }}"
            ></p-select>
            <small
                *ngIf="clinicError"
                class="text-red-500"
            >{{ clinicError }}</small>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="correo">{{ 'labels.email' | translate }}</label>
            <input
                pInputText
                id="correo"
                [(ngModel)]="email"
                (ngModelChange)="onEmailChange()"
                [ngClass]="{
                    'ng-dirty': emailError,
                    'ng-invalid': emailError
                }"
                type="text" placeholder="{{ 'placeholders.email' | translate }}"
                maxlength="100"
            />
            <small
                *ngIf="emailError"
                class="text-red-500"
            >{{ emailError }}</small>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="telefono">{{ 'labels.phone' | translate }}</label>
            <input
                pInputText
                id="telefono"
                [(ngModel)]="phone"
                type="text" placeholder="{{ 'placeholders.phone' | translate }}"
                maxlength="10"
            />
        </div>
    </div>
    <div class="flex flex-wrap gap-6 mb-4">
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="nacimiento">{{ 'labels.birthDate' | translate }}</label>
            <p-date-picker
                id="nacimiento"
                showIcon="true"
                class="w-full"
                [(ngModel)]="birthDate"
                (ngModelChange)="onBirtDateChange()"
                [ngClass]="{
                    'ng-dirty': birthDateError,
                    'ng-invalid': birthDateError
                }"
                [style]="{ width: '100%' }"
                appendTo="body"
                placeholder="{{ 'placeholders.birthDate' | translate }}"
            ></p-date-picker>
            <small
                *ngIf="birthDateError"
                class="text-red-500"
            >{{ birthDateError }}</small>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="genero">{{ 'labels.gender' | translate }}</label>
            <p-select
                id="genero"
                [options]="genders"
                [(ngModel)]="gender"
                [ngClass]="{
                    'ng-dirty': genderError,
                    'ng-invalid': genderError
                }"
                placeholder="{{ 'placeholders.gender' | translate }}"
            ></p-select>
            <small
                *ngIf="genderError"
                class="text-red-500"
            >{{ genderError }}</small>
        </div>
    </div>
    <div class="flex flex-wrap gap-6">
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="cp">{{ 'labels.postalCode' | translate }}</label>
            <input
                pInputText
                id="cp"
                [(ngModel)]="postalCode"
                (ngModelChange)="onPostalCodeChange()"
                [ngClass]="{
                    'ng-dirty': postalCodeError,
                    'ng-invalid': postalCodeError
                }"
                type="text"
                placeholder="{{ 'placeholders.postalCode' | translate }}"
                maxlength="10"
            />
            <small
                *ngIf="postalCodeError"
                class="text-red-500"
            >{{ postalCodeError }}</small>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="direccion">{{ 'labels.address' | translate }}</label>
            <input
                pInputText
                id="direccion"
                [(ngModel)]="address"
                (ngModelChange)="onAddressChange()"
                [ngClass]="{
                    'ng-dirty': addressError,
                    'ng-invalid': addressError
                }"
                placeholder="{{ 'placeholders.address' | translate }}"
                maxlength="250"
            />
            <small
                *ngIf="addressError"
                class="text-red-500"
            >{{ addressError }}</small>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="stateModal">{{ 'labels.state' | translate }}</label>
            <p-select
                id="stateModal"
                [options]="states"
                [(ngModel)]="state"
                [ngClass]="{
                    'ng-dirty': stateError,
                    'ng-invalid': stateError
                }"
                appendTo="body"
                placeholder="{{ 'placeholders.state' | translate }}"
            ></p-select>
            <small
                *ngIf="stateError"
                class="text-red-500"
            >{{ stateError }}</small>
        </div>
    </div>
    <div class="flex flex-wrap justify-end gap-6 mt-6">
        <p-button
            severity="danger"
            (onClick)="closeModal()"
            label="{{ 'buttons.cancel' | translate }}"
        ></p-button>
        <p-button
            *ngIf="!isUpdate"
            label="{{ 'buttons.register' | translate }}"
            (onClick)="callCreateDoctor()"
        ></p-button>
        <p-button
            *ngIf="isUpdate"
            label="{{ 'buttons.update' | translate }}"
            (onClick)="callUpdateDoctor()"
        ></p-button>
    </div>

</p-dialog>

