<p-confirmDialog/>
<p-toast/>

<!-- Opciones de consulta -->
<div class="mb-8">
    <app-opciones-consulta
        (periodoSeleccionado)="onPeriodoSeleccionado($event)"
        (rangoFechasSeleccionado)="onRangoFechasSeleccionado($event)"
        (consultar)="filtrarPacientes()"
    />
</div>

<!-- Tabla de pacientes -->
<div class="card">
    <div class="flex flex-row justify-between mx-4">
        <div class="font-semibold text-xl mb-4">{{ 'patient.plural' | translate }}</div>
        <!-- Contenedor para los botones alineados a la derecha -->
        <div class="flex gap-2">
            <p-button
                label="{{ 'buttons.new' | translate: { item: labelPatient } }}"
                (onClick)="abrirModal()"
                icon="pi pi-plus"
            ></p-button>

            <p-button
                label="{{ 'buttons.delete' | translate: { items: labelPatients } }}"
                severity="danger"
                (onClick)="eliminarPacientesSeleccionados()"
                icon="pi pi-trash">
            </p-button>
        </div>
    </div>

    <p-table
        #dt
        dataKey="clave"
        [rows]="50"
        [value]="pacientesFiltrados"
        [loading]="false"
        [rowHover]="true"
        [paginator]="true"
        [globalFilterFields]="['clave', 'nombre', 'apellidoPaterno', 'apellidoMaterno', 'fechaNacimiento', 'edad', 'genero', 'ocupacion', 'correo', 'telefono', 'codigoPostal', 'direccion', 'estado']"
        responsiveLayout="scroll"
        selectionMode="multiple"
        [(selection)]="selectedPacientes">

        <ng-template pTemplate="caption">
            <div class="flex justify-between flex-col sm:flex-row items-center gap-4 w-full">
                <!-- Contenedor de botones alineados a la izquierda -->
                <div class="flex flex-col-375 sm:flex-row gap-2">
                    <p-button
                        label="{{ 'buttons.exportExcelTable' | translate }}"
                        icon="pi pi-file-excel"
                        severity="success"
                        outlined="true"
                        (onClick)="exportExcel()"
                        (keydown)="onKeyDown($event)"
                        (keyup)="onKeyUp($event)"
                    ></p-button>

                    <p-button
                        label="{{ 'buttons.downloadPDFTable' | translate }}"
                        severity="danger"
                        outlined="true"
                        (onClick)="exportPDF()"
                        icon="pi pi-file-pdf"
                    ></p-button>
                </div>

                <!-- Input de búsqueda alineado a la derecha -->
                <div class=" flex justify-end items-end relative w-full sm:w-64 lg:w-96">
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input
                            pInputText
                            class="sm:w-64 lg:w-96"
                            type="text"
                            (input)="onGlobalFilter(dt, $event)"
                            placeholder="{{ 'placeholders.search' | translate }}"
                        />
                        <p-inputicon
                            (click)="clear(dt)"
                            styleClass="pi pi-times"
                            (keydown)="onKeyDown($event)"
                            (keyup)="onKeyUp($event)"
                        />
                    </p-iconfield>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <!-- Columna de checkbox -->
                <th id="check" style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th id="key" pSortableColumn="clave" style="min-width: 8rem">
                    {{ 'labels.key' | translate }}
                    <p-sortIcon field="clave"></p-sortIcon>
                </th>
                <th id="name" pSortableColumn="nombre" style="min-width: 10rem">
                    {{ 'labels.name' | translate }}
                    <p-sortIcon field="nombre"></p-sortIcon>
                </th>
                <th id="lastname" pSortableColumn="apellidos" style="min-width: 12rem">
                    {{ 'labels.lastname' | translate }}
                    <p-sortIcon field="apellidos"></p-sortIcon>
                </th>
                <th id="birthDate" pSortableColumn="fechaNacimiento" style="min-width: 14rem" (click)="sortByDate()" (keyup)="onKeyUp($event)" >
                    {{ 'labels.birthDate' | translate }}
                    <p-sortIcon field="fechaNacimiento"></p-sortIcon>
                </th>
                <th id="age" pSortableColumn="edad" style="min-width: 8rem">
                    {{ 'labels.age' | translate }}
                    <p-sortIcon field="edad"></p-sortIcon>
                </th>
                <th id="gender" pSortableColumn="genero" style="min-width: 8rem">
                    {{ 'labels.gender' | translate }}
                    <p-sortIcon field="genero"></p-sortIcon>
                </th>
                <th id="occupation" pSortableColumn="ocupacion" style="min-width: 10rem">
                    {{ 'labels.occupation' | translate }}
                    <p-sortIcon field="ocupacion"></p-sortIcon>
                </th>
                <th id="postalCode" pSortableColumn="codigoPostal" style="min-width: 10rem">
                    {{ 'labels.postalCode' | translate }}
                    <p-sortIcon field="codigoPostal"></p-sortIcon>
                </th>
                <th id="address" pSortableColumn="direccion" style="min-width: 14rem">
                    {{ 'labels.address' | translate }}
                    <p-sortIcon field="direccion"></p-sortIcon>
                </th>
                <th id="state" pSortableColumn="estado" style="min-width: 10rem">
                    {{ 'labels.state' | translate }}
                    <p-sortIcon field="estado"></p-sortIcon>
                </th>
                <th scope="col" style="min-width: 14rem">{{ 'labels.actions' | translate }}</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-patient>
            <tr [pSelectableRow]="patient">
                <!-- Checkbox para cada fila -->
                <td>
                    <p-tableCheckbox [value]="patient"></p-tableCheckbox>
                </td>
                <td>{{ patient.clave }}</td>
                <td>{{ patient.nombre }}</td>
                <td>{{ patient.apellidoPaterno }} {{ patient.apellidoMaterno }}</td>
                <td>{{ patient.fechaNacimiento }}</td>
                <td>{{ patient.edad }} {{ 'labels.years' | translate }} </td>
                <td>{{ patient.genero }}</td>
                <td>{{ patient.ocupacion }}</td>
                <td>{{ patient.codigoPostal }}</td>
                <td>{{ patient.direccion }}</td>
                <td>{{ patient.estado }}</td>
                <td>
                    <p-button
                        icon="pi pi-pencil"
                        class="mx-1"
                        severity="info"
                        [rounded]="true"
                        (onClick)="editarPaciente(patient.clave)"
                        [outlined]="true"
                    />
                    <p-button
                        icon="pi pi-trash"
                        class="mx-1"
                        severity="danger"
                        (onClick)="eliminarPaciente(patient.clave)"
                        [rounded]="true"
                        [outlined]="true"
                    />
                    <p-button
                        icon="pi pi-folder-plus"
                        class="mx-1"
                        severity="success"
                        (onClick)="inspeccionar(patient.clave)"
                        [rounded]="true"
                        [outlined]="true"
                    />
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="11">{{ 'messages.noDataFound' | translate: { items: 'pacientes' } }}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="11">{{ 'messages.loadingData' | translate }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
    header="{{ 'patient.titleModal' | translate }}"
    class="font-bold"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '70rem', 'max-width': '70rem', 'overflow-x': 'hidden', 'padding': '0.5rem' }"
    (onHide)="cerrarVentanaNotificacion()">

    <div class="flex flex-wrap gap-6 mb-4">
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="nombre">{{ 'labels.name' | translate }}</label>
            <input
                pInputText
                id="nombre"
                type="text"
                [(ngModel)]="nombre"
                placeholder="{{ 'placeholders.name' | translate }}"
            />
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="paterno">{{ 'labels.fatherLastName' | translate }}</label>
            <input pInputText [(ngModel)]="apellidoPaterno" id="paterno" type="text" placeholder="{{ 'placeholders.fatherLastName' | translate }}" />
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="materno">{{ 'labels.motherLastName' | translate }}</label>
            <input pInputText id="materno" [(ngModel)]="apellidoMaterno" type="text" placeholder="{{ 'placeholders.motherLastName' | translate }}" />
        </div>
    </div>
    <div class="flex flex-wrap gap-6 mb-4">
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="correo">{{ 'labels.email' | translate }}</label>
            <input pInputText id="correo" [(ngModel)]="correo" type="text" placeholder="{{ 'placeholders.email' | translate }}" />
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="telefono">{{ 'labels.phone' | translate }}</label>
            <input pInputText id="telefono" [(ngModel)]="telefono" type="text" placeholder="{{ 'placeholders.phone' | translate }}" />
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="ocupacion">{{ 'labels.occupation' | translate }}</label>
            <input pInputText id="ocupacion" [(ngModel)]="ocupacion" type="text" placeholder="{{ 'placeholders.occupation' | translate }}" />
        </div>
    </div>
    <div class="flex flex-wrap gap-6 mb-4">
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="genero">{{ 'labels.gender' | translate }}</label>
            <p-select
                id="genero"
                [(ngModel)]="genero"
                [options]="generos"
                placeholder="{{ 'placeholders.gender' | translate }}"
            ></p-select>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="nacimiento">{{ 'labels.birthDate' | translate }}</label>
            <input
                pInputText
                id="nacimiento"
                [(ngModel)]="fechaNacimiento"
                type="text" placeholder="{{ 'placeholders.birthDate' | translate }}" />
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="edad">{{ 'labels.age' | translate }}</label>
            <input pInputText id="edad" type="text" readonly placeholder="{{ 'placeholders.age' | translate }}" />
        </div>
    </div>
    <div class="flex flex-wrap gap-6">
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="direccion">{{ 'labels.address' | translate }}</label>
            <input pInputText id="direccion" [(ngModel)]="direccion" type="text" placeholder="{{ 'placeholders.address' | translate }}" />
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <label for="cp">{{ 'labels.postalCode' | translate }}</label>
            <input pInputText id="cp" type="text" [(ngModel)]="codigoPostal" placeholder="{{ 'placeholders.postalCode' | translate }}" />
        </div>
    </div>

    <div class="flex flex-wrap justify-end gap-6 mt-6">
        <p-button
            severity="danger"
            (onClick)="cerrarVentanaNotificacion()"
            label="{{ 'buttons.cancel' | translate }}"
        ></p-button>
        <p-button
            *ngIf="!isUpdate"
            label="{{ 'buttons.register' | translate }}"
            (onClick)="addPaciente()"
        ></p-button>
        <p-button
            *ngIf="isUpdate"
            label="{{ 'buttons.update' | translate }}"
            (onClick)="actualizarPaciente()"
        ></p-button>
    </div>

</p-dialog>
