<p-toast />

<div class="grid grid-cols-1 xl:grid-cols-3 gap-6">
    <div class="col-span-1 order-2 xl:col-span-2 xl:order-1">
        <div class="card">
            <div class="flex justify-between mb-4">
                <div class="font-semibold text-xl mb-4"> {{ 'patient.titleModal'| translate }} </div>
                <p-dropdown
                    class="w-80 mb-2"
                    [options]="patientOptions"
                    optionLabel="fullName"
                    placeholder="{{ 'placeholders.patients' | translate }}"
                    [filter]="true"
                    [filterBy]="filterFields"
                    [(ngModel)]="selectedPatient"
                    (onChange)="onPatientSelect($event)"
                    appendTo="body">
                    <ng-template let-item pTemplate="item">
                        <span
                            class="w-72"
                            tooltipStyleClass="width: 100rem"
                            pTooltip="{{ getTooltip(item) }}"
                            tooltipPosition="top">{{ item.fullName }}
                        </span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="flex flex-wrap gap-6 mb-4">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="nombre">{{ 'labels.name'| translate }}</label>
                    <input
                        pInputText
                        [(ngModel)]="nombre"
                        readonly
                        id="nombre"
                        type="text"
                        placeholder="{{ 'placeholders.name'| translate }}"
                    />
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="paterno">{{ 'labels.fatherLastName'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        [(ngModel)]="paterno"
                        id="paterno"
                        type="text"
                        placeholder="{{ 'placeholders.fatherLastName'| translate }}"
                    />
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="materno">{{ 'labels.motherLastName'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="materno"
                        type="text"
                        [(ngModel)]="materno"
                        placeholder="{{ 'placeholders.motherLastName'| translate }}"
                    />
                </div>
            </div>
            <div class="flex flex-wrap gap-6 mb-4">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="correo">{{ 'labels.email'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="correo"
                        type="text"
                        [(ngModel)]="correo"
                        placeholder="{{ 'placeholders.email'| translate }}"
                    />
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="telefono">{{ 'labels.phone'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="telefono"
                        type="text"
                        [(ngModel)]="telefono"
                        placeholder="{{ 'placeholders.phone'| translate }}"
                    />
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="ocupacion">{{ 'labels.occupation'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="ocupacion"
                        type="text"
                        [(ngModel)]="ocupacion"
                        placeholder="{{ 'placeholders.occupation'| translate }}"
                    />
                </div>
            </div>
            <div class="flex flex-wrap gap-6 mb-4">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="genero">{{ 'labels.gender'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="genero"
                        type="text"
                        [(ngModel)]="genero"
                        placeholder="{{ 'placeholders.gender'| translate }}"
                    />
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="nacimiento">{{ 'labels.birthDate'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="nacimiento"
                        type="text"
                        [(ngModel)]="fechaNacimiento"
                        placeholder="{{ 'placeholders.birthDate'| translate }}"
                    />
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="edad">{{ 'labels.age'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="edad"
                        type="text"
                        [(ngModel)]="edad"
                        placeholder="{{ 'placeholders.age'| translate }}"
                    />
                </div>
            </div>
            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="direccion">{{ 'labels.address'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="direccion"
                        type="text"
                        [(ngModel)]="direccion"
                        placeholder="{{ 'placeholders.address'| translate }}"
                    />
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="cp">{{ 'labels.postalCode'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="cp"
                        type="text"
                        [(ngModel)]="codigoPostal"
                        placeholder="{{ 'placeholders.postalCode'| translate }}"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-1 order-1 xl:order-2">
        <div class="card h-full">
            <div class="font-semibold text-xl mb-4">{{ 'labels.image'| translate }}</div>
            <p-fileupload
                name="demo[]"
                (onUpload)="onUpload($event)"
                [multiple]="false"
                accept="image/*"
                maxFileSize="4194304"
                chooseLabel="{{ 'buttons.choose'| translate }}"
                uploadLabel="{{ 'buttons.upload'| translate }}"
                cancelLabel="{{ 'buttons.cancel'| translate }}"
                [style]="{ height: '90%', width: '100%' }"
                mode="advanced"
                url="https://www.primefaces.org/cdn/api/upload.php">

                <!-- Plantilla vacía -->
                <ng-template #empty>
                    <div class="flex items-center justify-center h-full flex-col">
                        <i class="pi pi-cloud-upload !border-2 !rounded-full !px-4 !py-4 !text-4xl !text-muted-color"></i>
                        <p class="mt-6 text-center">
                            {{ 'messages.imageSizeLimit'| translate }} <strong>{{ 'messages.4mb'| translate }}</strong>.
                        </p>
                    </div>
                </ng-template>

                <!-- Plantilla de los botones -->
                <ng-template #header let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
                    <div class="flex flex-wrap gap-2">
                        <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true" [outlined]="true"></p-button>
                        <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" [disabled]="!files || files.length === 0"></p-button>
                    </div>
                </ng-template>

                <!-- Plantilla con el contenido de los archivos -->
                <ng-template #content>
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                    </ul>
                </ng-template>

            </p-fileupload>
        </div>
    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-6">
    <div class="col-span-1 lg:col-span-2">
        <div class="card">
            <div class="flex justify-between">
                <div class="font-semibold text-xl mb-4">{{ 'titles.inspectionData'| translate }}</div>
                <a href="/insights/ver-detalle" class="text-primary" style="text-decoration: underline;">
                    {{ 'links.viewDetail'| translate }}
                </a>
            </div>
            <div class="flex flex-wrap gap-6 mb-4">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="doctor">{{ 'doctor.singular'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="doctor"
                        type="text"
                        [(ngModel)]="doctor"
                        placeholder="{{ 'placeholders.name'| translate }} {{ 'placeholders.fatherLastName'| translate }} {{ 'placeholders.motherLastName'| translate }}"
                    />
                </div>
            </div>
            <div class="flex flex-wrap gap-6 mb-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="ojo">{{ 'labels.eye'| translate }}</label>
                    <p-select-button
                        id="ojo"
                        [(ngModel)]="selectedEye"
                        [options]="options"
                    />
                </div>
                <div class="flex flex-col grow basis-16 gap-2">
                    <label for="enfermedad">{{ 'labels.disease'| translate }}</label>
                    <p-select
                        id="enfermedad"
                        [options]="afecciones"
                        [(ngModel)]="selectedAfeccion"
                        placeholder="{{ 'placeholders.disease'| translate }}"
                    ></p-select>
                </div>
                <div class="flex flex-col grow basis-16 gap-2">
                    <label for="modelo">{{ 'labels.model'| translate }}</label>
                    <p-select
                        id="modelo"
                        [options]="models"
                        [(ngModel)]="selectedModel"
                        placeholder="{{ 'placeholders.model'| translate }}"
                    ></p-select>
                </div>
            </div>
            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <div class="flex flex-col grow basis-0 gap-2">
                        <div *ngIf="state === State.loading" class="flex justify-end items-center gap-4 w-full">
                            <p-skeleton width="10rem" height="3rem"></p-skeleton>
                        </div>
                        <div *ngIf="state === State.success" class="flex justify-end items-center gap-4 w-full">
                            <div class="font-semibold text-xl">{{ 'labels.result'| translate }}:</div>
                            <p-button
                                [label]="resultado"
                                [disabled]="true"
                                [style]="{ opacity: '3', backgroundColor: color, 'border-color': color }"
                            ></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-1">
        <div class="card h-full">
            <div class="font-semibold text-xl mb-4">{{ 'titles.additionalData'| translate }}</div>
            <div>
                <textarea
                    pTextarea
                    rows="10"
                    style="width: 100%; resize: none; padding-bottom: 0; margin-bottom: 0"
                ></textarea>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap justify-end gap-6 mt-6">
    <p-button
        severity="danger"
        label="{{ 'buttons.cancel'| translate }}"
    ></p-button>
    <p-button
        (onClick)="inspeccionar()"
        label="{{ 'buttons.inspect'| translate }}"
    ></p-button>
</div>
