<!--
    Plantilla del componente Nueva Inspección (capa: presentation/components)

    @description
    Vista para capturar los datos necesarios de una nueva inspección:
    - Selección de paciente (con búsqueda y tooltip detallado)
    - Carga de imagen (p-fileupload con límite de 4MB)
    - Selección de ojo, afección y modelo de IA
    - Visualización del resultado (según estado: loading/success)
    - Campo de notas adicionales
    - Acciones de cancelar e iniciar inspección

    Notas:
    - Se utiliza @ngx-translate para i18n.
    - PrimeNG provee los controles: p-select, p-fileupload, p-selectButton, p-button, p-toast, p-skeleton, pTextarea.
    - Las clases utilitarias (Tailwind) controlan layout responsivo.
-->
<p-toast />

<div class="grid grid-cols-1 xl:grid-cols-3 gap-6">
    <!-- Datos del paciente -->
    <div class="col-span-1 order-2 xl:col-span-2 xl:order-1">
        <div class="card" style="padding-bottom: 1rem">
            <div class="flex flex-col lg:flex-row lg:justify-between mb-4 gap-4">
                <!-- Título -->
                <div class="font-semibold text-xl">
                    {{ 'titles.patientData' | translate }}
                </div>

                <!-- Select de paciente -->
                <div class="flex flex-col w-full lg:w-auto">
                    <p-select
                        [disabled]="isEditFields"
                        class="w-full lg:w-80 mb-2"
                        [options]="patientOptions"
                        optionLabel="fullName"
                        optionValue="patientId"
                        placeholder="{{ 'placeholders.patients' | translate }}"
                        [filter]="true"
                        [filterBy]="filterFields"
                        [(ngModel)]="selectedPatientId"
                        (onChange)="onPatientSelect($event)"
                        [ngClass]="{
                            'ng-dirty': patientError,
                            'ng-invalid': patientError
                        }"
                        appendTo="body">
                        <ng-template let-item pTemplate="item">
                            <span
                                class="w-full"
                                tooltipStyleClass="width: 100rem"
                                pTooltip="{{ getTooltip(item) }}"
                                tooltipPosition="top"
                            > {{ item.fullName }}
                            </span>
                        </ng-template>
                    </p-select>

                    <small *ngIf="patientError" class="text-red-500">
                        {{ patientError }}
                    </small>
                </div>

            </div>
            <div class="flex flex-wrap gap-6 mb-4">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="nombre">{{ 'labels.name'| translate }}</label>
                    <input
                        pInputText
                        [(ngModel)]="firstName"
                        [readOnly]="!isEditFields"
                        (ngModelChange)="onFirstNameChange()"
                        [ngClass]="{
                            'ng-dirty': firstNameError,
                            'ng-invalid': firstNameError
                        }"
                        id="nombre"
                        type="text"
                        placeholder="{{ 'placeholders.name'| translate }}"
                        maxlength="100"
                    />
                    <small
                        *ngIf="firstNameError"
                        class="text-red-500"
                    >{{ firstNameError }}</small>
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="paterno">{{ 'labels.fatherLastName'| translate }}</label>
                    <input
                        pInputText
                        [readOnly]="!isEditFields"
                        [(ngModel)]="lastFatherName"
                        (ngModelChange)="onLastFatherNameChange()"
                        [ngClass]="{
                    'ng-dirty': lastFatherNameError,
                    'ng-invalid': lastFatherNameError
                }"
                        id="paterno"
                        type="text"
                        placeholder="{{ 'placeholders.fatherLastName'| translate }}"
                        maxlength="100"
                    />
                    <small
                        *ngIf="lastFatherNameError"
                        class="text-red-500"
                    >{{ lastFatherNameError }}</small>
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="materno">{{ 'labels.motherLastName'| translate }}</label>
                    <input
                        pInputText
                        [readOnly]="!isEditFields"
                        id="materno"
                        type="text"
                        [(ngModel)]="lastMotherName"
                        (ngModelChange)="onLastMotherNameChange()"
                        [ngClass]="{
                    'ng-dirty': lastMotherNameError,
                    'ng-invalid': lastMotherNameError
                }"
                        placeholder="{{ 'placeholders.motherLastName'| translate }}"
                        maxlength="100"
                    />
                    <small
                        *ngIf="lastMotherNameError"
                        class="text-red-500"
                    >{{ lastMotherNameError }}</small>
                </div>
            </div>
            <div class="flex flex-wrap gap-6 mb-4">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="correo">{{ 'labels.email'| translate }}</label>
                    <input
                        pInputText
                        [readOnly]="!isEditFields"
                        id="correo"
                        type="text"
                        [(ngModel)]="email"
                        (ngModelChange)="onEmailChange()"
                        [ngClass]="{
                    'ng-dirty': emailError,
                    'ng-invalid': emailError
                }"
                        placeholder="{{ 'placeholders.email'| translate }}"
                        maxlength="100"
                    />
                    <small
                        *ngIf="emailError"
                        class="text-red-500"
                    >{{ emailError }}</small>
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="telefono">{{ 'labels.phone'| translate }}</label>
                    <input
                        pInputText
                        [readOnly]="!isEditFields"
                        id="telefono"
                        type="text"
                        [(ngModel)]="phone"
                        (ngModelChange)="onPhoneChange()"
                        [ngClass]="{
                    'ng-dirty': phoneError,
                    'ng-invalid': phoneError
                }"
                        placeholder="{{ 'placeholders.phone'| translate }}"
                        maxlength="20"
                    />
                    <small
                        *ngIf="phoneError"
                        class="text-red-500"
                    >{{ phoneError }}</small>
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="ocupacion">{{ 'labels.occupation'| translate }}</label>
                    <input
                        pInputText
                        [readOnly]="!isEditFields"
                        id="ocupacion"
                        type="text"
                        [(ngModel)]="occupation"
                        (ngModelChange)="onOccupationChange()"
                        [ngClass]="{
                    'ng-dirty': occupationError,
                    'ng-invalid': occupationError
                }"
                        placeholder="{{ 'placeholders.occupation'| translate }}"
                    />
                    <small
                        *ngIf="occupationError"
                        class="text-red-500"
                    >{{ occupationError }}</small>
                </div>
            </div>
            <div class="flex flex-wrap gap-6 mb-4">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="genero">{{ 'labels.gender'| translate }}</label>
                    <p-select
                        id="genero"
                        [(ngModel)]="genderOption"
                        optionLabel="label"
                        [options]="genders"
                        [ngClass]="{
                    'ng-dirty': genderError,
                    'ng-invalid': genderError
                }"
                        (ngModelChange)="onGenderChange()"
                        placeholder="{{ 'placeholders.genderInput'| translate }}"
                    />
                    <small
                        *ngIf="genderError"
                        class="text-red-500"
                    >{{ genderError }}</small>
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="nacimiento">{{ 'labels.birthDate'| translate }}</label>
                    <p-date-picker
                        id="nacimiento"
                        showIcon
                        class="w-full"
                        [style]="{ width: '100%', opacity: 10 }"
                        readonlyInput
                        [(ngModel)]="birthDate"
                        (ngModelChange)="onBirtDateChange()"
                        [ngClass]="{
                    'ng-dirty': birthDateError,
                    'ng-invalid': birthDateError
                }"
                        placeholder="{{ 'placeholders.birthDate'| translate }}"
                    />
                    <small
                        *ngIf="birthDateError"
                        class="text-red-500"
                    >{{ birthDateError }}</small>
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="edad">{{ 'labels.age'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="edad"
                        type="text"
                        [(ngModel)]="age"
                        placeholder="{{ 'placeholders.age'| translate }}"
                    />
                </div>
            </div>
            <div class="flex flex-wrap gap-6 mb-4">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="cp">{{ 'labels.postalCode'| translate }}</label>
                    <input
                        pInputText
                        [readOnly]="!isEditFields"
                        id="cp"
                        type="text"
                        [(ngModel)]="postalCode"
                        (ngModelChange)="onPostalCodeChange()"
                        [ngClass]="{
                    'ng-dirty': postalCodeError,
                    'ng-invalid': postalCodeError
                }"
                        placeholder="{{ 'placeholders.postalCode'| translate }}"
                        maxlength="10"
                    />
                    <small
                        *ngIf="postalCodeError"
                        class="text-red-500"
                    >{{ postalCodeError }}</small>
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="direccion">{{ 'labels.address'| translate }}</label>
                    <input
                        pInputText
                        [readOnly]="!isEditFields"
                        id="direccion"
                        type="text"
                        [(ngModel)]="address"
                        (ngModelChange)="onAddressChange()"
                        [ngClass]="{
                    'ng-dirty': addressError,
                    'ng-invalid': addressError
                }"
                        placeholder="{{ 'placeholders.address'| translate }}"
                        maxlength="250"
                    />
                    <small
                        *ngIf="addressError"
                        class="text-red-500"
                    >{{ addressError }}</small>
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="state">{{ 'labels.state'| translate }}</label>
                    <p-select
                        id="state"
                        type="text"
                        [(ngModel)]="statePatient"
                        [options]="states"
                        [ngClass]="{
                    'ng-dirty': stateError,
                    'ng-invalid': stateError
                }"
                        (ngModelChange)="onStateChange()"
                        placeholder="{{ 'placeholders.state'| translate }}"
                    />
                    <small
                        *ngIf="stateError"
                        class="text-red-500"
                    >{{ stateError }}</small>
                </div>
            </div>
            <div class="flex flex-row justify-end">
                <ng-container *ngIf="!isEditFields">
                    <p-button
                        label="{{ 'buttons.newPatient' | translate }}"
                        (onClick)="editNewPatient()"
                        icon="pi pi-plus"
                    ></p-button>
                </ng-container>
                <ng-container *ngIf="isEditFields">
                    <div class="flex flex-wrap gap-2">
                        <p-button
                            label="{{ 'buttons.cancel' | translate }}"
                            (onClick)="cancelNewPatient()"
                            severity="danger"
                        ></p-button>
                        <p-button
                            label="{{ 'buttons.register' | translate }}"
                            [loading]="isNewPatientLoading"
                            (onClick)="callCreatePatient()"
                        ></p-button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- Imagen -->
    <div class="col-span-1 order-1 xl:order-2">
        <div class="card h-full">
            <div class="font-semibold text-xl">{{ 'labels.image'| translate }}</div>
            <small
                *ngIf="imageError"
                class="text-red-500"
            >{{ imageError }}</small>
            <div class="h-full mt-4">
                <p-fileupload
                    name="name[]"
                    (onSelect)="onSelect($event)"
                    (change)="onImageChange()"
                    [multiple]="false"
                    [files]="images"
                    (onRemove)="clearFiles()"
                    accept="image/*"
                    maxFileSize="4194304"
                    chooseLabel="{{ 'buttons.choose'| translate }}"
                    cancelLabel="{{ 'buttons.cancel'| translate }}"
                    [style]="{ height: '85%', width: '100%' }"
                    mode="advanced"
                    [auto]="true">

                    <!-- Plantilla vacía -->
                    <ng-template #empty>
                        <div class="flex items-center justify-center h-full flex-col">
                            <i class="pi pi-cloud-upload !border-2 !rounded-full !px-4 !py-4 !text-4xl !text-muted-color"></i>
                            <p class="mt-6 text-center">
                                {{ 'messages.imageSizeLimit'| translate }} <strong>{{ 'messages.4mb'| translate }}</strong>.
                            </p>
                        </div>
                    </ng-template>

                    <!-- Plantilla de los botones -->
                    <ng-template #header let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback">
                        <div class="flex flex-wrap gap-2">
                            <p-button
                                (onClick)="chooseCallback()"
                                icon="pi pi-images"
                                [rounded]="true"
                                [outlined]="true">
                            </p-button>
                            <p-button
                                icon="pi pi-times"
                                [rounded]="true"
                                [outlined]="true"
                                severity="danger"
                                [disabled]="!files || files.length === 0">
                            </p-button>
                        </div>
                    </ng-template>

                    <!-- Plantilla con el contenido de los archivos -->
                    <ng-template #content>
                        <ul *ngIf="images.length">
                            <li *ngFor="let file of images"></li>
                        </ul>
                    </ng-template>

                </p-fileupload>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-6">
    <div class="col-span-1 lg:col-span-2">
        <div class="card">
            <div class="flex justify-between">
                <div class="font-semibold text-xl mb-4">{{ 'titles.inspectionData'| translate }}</div>
            </div>
            <div class="col-span-1 gap-6 mb-4">
                <div class="flex flex-col grow basis-0 gap-2">
                    <label for="doctor">{{ 'doctor.singular'| translate }}</label>
                    <input
                        pInputText
                        readonly
                        id="doctor"
                        type="text"
                        [(ngModel)]="doctor"
                        placeholder="{{ 'placeholders.name'| translate }} {{ 'placeholders.fatherLastName'| translate }} {{ 'placeholders.motherLastName'| translate }}"
                    />
                </div>
            </div>
            <div class="flex flex-col md:flex-row gap-6 mb-6">
                <!-- Ojo -->
                <div class="flex flex-col w-full lg:w-1/3 gap-2">
                    <label for="ojo">{{ 'labels.eye' | translate }}</label>
                    <p-selectButton
                        id="ojo"
                        [ngClass]="{ 'ng-dirty': eyeError, 'ng-invalid': eyeError }"
                        [(ngModel)]="selectedEye"
                        [options]="eyes"
                        optionLabel="label"
                        (ngModelChange)="onEyeChange()"
                    />
                    <small *ngIf="eyeError" class="text-red-500">{{ eyeError }}</small>
                </div>

                <!-- Afección -->
                <div class="flex flex-col w-full lg:w-1/3 gap-2">
                    <label for="enfermedad">{{ 'labels.disease' | translate }}</label>
                    <p-select
                        id="enfermedad"
                        [options]="diseaseOptions"
                        [loading]="isLoadingGetData"
                        [(ngModel)]="selectedDisease"
                        optionLabel="label"
                        (ngModelChange)="onDiseaseChange()"
                        [ngClass]="{ 'ng-dirty': diseaseError, 'ng-invalid': diseaseError }"
                        placeholder="{{ 'placeholders.disease' | translate }}"
                    ></p-select>
                    <small *ngIf="diseaseError" class="text-red-500">{{ diseaseError }}</small>
                </div>

                <!-- Modelo -->
                <div class="flex flex-col w-full lg:w-1/3 gap-2">
                    <label for="modelo">{{ 'labels.model' | translate }}</label>
                    <p-select
                        id="modelo"
                        [options]="allModels"
                        [loading]="isLoadingGetData"
                        optionLabel="name"
                        [(ngModel)]="selectedModel"
                        (ngModelChange)="onModelChange()"
                        [ngClass]="{ 'ng-dirty': modelError, 'ng-invalid': modelError }"
                        placeholder="{{ 'placeholders.model' | translate }}"
                    ></p-select>
                    <small *ngIf="modelError" class="text-red-500">{{ modelError }}</small>
                </div>
            </div>
            <div class="col-span-2 gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <div class="flex flex-col grow basis-0 gap-2">
                        <div *ngIf="state === State.loading" class="flex justify-end items-center gap-2 w-full">
                            <p-skeleton width="12rem" height="3rem"></p-skeleton>
                        </div>
                        <div *ngIf="state === State.success" class="flex justify-end items-center gap-2 w-full">
                            <p-button
                                [label]="resultOption?.label"
                                [disabled]="true"
                                [style]="{ opacity: '3', backgroundColor: colorResult, 'border-color': colorResult }"
                            ></p-button>
                            <p-button
                                label="{{ 'links.viewDetail'| translate }}"
                                [style]="{ 'border-color': colorResult, 'color': colorResult }"
                                outlined="true"
                                (onClick)="navigateToInspectionDetails()"
                            ></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-1">
        <div class="card h-full">
            <div class="font-semibold text-xl mb-4">{{ 'titles.additionalDataOption'| translate }}</div>
            <div>
                <textarea
                    pTextarea
                    rows="10"
                    [(ngModel)]="notes"
                    style="width: 100%; resize: none; padding-bottom: 0; margin-bottom: 0"
                ></textarea>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap justify-end gap-2 mt-6">
    <p-button
        severity="danger"
        outlined="true"
        (onClick)="cancel()"
        icon="pi pi-times"
    ></p-button>
    <p-button
        (onClick)="clearFields()"
        outlined="true"
        severity="info"
        icon="pi pi-trash"
    ></p-button>
    <p-button
        (onClick)="callCreateInspection()"
        [loading]="this.state === State.loading"
        [disabled]="isSubmitting"
        label="{{ 'buttons.inspect'| translate }}"
    ></p-button>
</div>
